.page-wrap{
    background-color: slateblue;
    padding: 40px 0;
}

.user-con{
    margin: 0 auto;
    width: 400px;
    background: #fff;
    position: relative;
}
.user-con .user-title{
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    font-weight: bold;
    color: #666666;
}

.user-con .user-box{
    padding: 20px ;
}

/*错误提示框*/
.user-con .user-box .error-item{
    position: relative;
    padding: 4px 0 4px 40px;
    margin-bottom: 10px;
    border: 1px solid red;
    color: red;
    background: #fde9e9;
    display: none;
}

.user-con .user-box .error-icon{
    position:absolute;
    top: 50%;
    left: 14px;
    margin-top: -7px;
    font-size: 14px;
}

.user-con .user-item{
    position: relative;
    margin-bottom: 20px;
}

.user-con .user-item .user-label{
    position: absolute;
    left: 1px;
    top:1px;
    bottom: 1px;
    width: 40px;
    line-height: 36px;
    background: #f3f3f3;
    font-size: 18px;
    color: #d3d3d3;
    text-align: center;
}

.user-con .user-item .user-content{
    padding: 10px 0 10px 50px;
    width: 306px;
    line-height: 18px;
    font-size: 15px;
    border: 1px solid #bdbdbd;
}
.user-con .btn-submit{
    width: 100%;
    padding: 6px 0;
    text-align: center;
}

.user-con .link-item{
    text-align: right;
    margin-top: 10px;
}



